<h1>Welcome to Business Card Wallet</h1>
<p>Your online business card holder. Keep track of all your business cards without losing them. Have access to them where ever you go</p>

<% @users.each do |u| %>
  <%= link_to u.username, user_path(u) %>
<% end %>
